<div *ngIf="invoice; else errorTemplate" class="container mx-auto bg-white p-6 rounded shadow mt-6">
	<button routerLink="/invoices" class="border border-blue-600 text-blue-600 hover:bg-blue-50 text-sm px-3 py-1 rounded flex items-center mb-4"><i class="fa fa-arrow-left"></i>&nbsp;Volver al listado</button>
	<h2 class="text-3xl font-bold mb-4">Factura #{{ invoice.id }}</h2>
	<div class="mb-6">
		<p><strong>Cliente: </strong>{{ invoice.client }}</p>
		<p><strong>Fecha: </strong>{{ invoice.date | date }}</p>
	</div>
	<h3 class="text-xl font-semibold mb-2">Detalles</h3>
	<div class="grid grid-cols-4 gap-4 px-4 py-2 font-semibold border rounded-t bg-gray-100">
        <div>Producto</div>
        <div class="text-center">Cantidad</div>
        <div class="text-right">Precio Unitario</div>
        <div class="text-right">Subtotal</div>
    </div>

    <div class="divide-y divide-gray-200 border rounded-b">
        <div *ngFor="let detail of invoice.details" class="grid grid-cols-4 gap-4 px-4 py-2 items-center">
        <div>{{ detail.product }}</div>
        <div class="text-center">{{ detail.quantity }}</div>
        <div class="text-right">${{ detail.unitPrice | number:'1.2-2' }}</div>
        <div class="text-right font-semibold">${{ detail.subtotal | number:'1.2-2' }}</div>
        </div>
    </div>
	<div class="text-right mt-4 text-2xl font-bold">
		Total: ${{ invoice.total | number:'1.2-2' }}
	</div>
</div>

<ng-template #errorTemplate>
    <div *ngIf="invoice; else errorTemplate" class="container mx-auto bg-white p-6 rounded shadow mt-6">
        <button routerLink="/invoices" class="border border-blue-600 text-blue-600 hover:bg-blue-50 text-sm px-3 py-1 rounded flex items-center mb-4"><i class="fa fa-arrow-left"></i>&nbsp;Volver al listado</button>
        <h2 class="text-3xl font-bold mb-4">No invoice found.</h2>
    </div>
</ng-template>